---
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Developer Resources</title>
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <h1>Developer Resources</h1>

  {% for topic in site.data.topics %}
    <h2>{{ topic.name }}</h2>
    {% for resource in topic.resources %}
      <a class="resource" href="{{ resource.url }}">
        <div class="resource-type">{{ resource.type }}</div>
        <div class="resource-name">{{ resource.name }}</div>
      </a>
    {% endfor %}
  {% endfor %}
</body>
</html>
